@mariomh:registry=https://europe-npm.pkg.dev/mariomh/npm/
//europe-npm.pkg.dev/mariomh/npm/:_authToken=ya29.a0AS3H6NyWZhTP5lwN5krilbxuvlcGSd8YaPD68yuQTHTjmCrn-K75h4tTPrYJApCRc32WTDy89FuTSsdXUKDTNvjaQuP1bKe8txvWAyQyueQiQygPJSNy4srK_h6O-V2bX_rlyKaZ9y4BVGpPESYiYbhqohL4hu3uyjfKEn69APH2cyYaCgYKAccSARMSFQHGX2Mi2W65T7XQFfzNUt_EvLzpoQ0182
//europe-npm.pkg.dev/mariomh/npm/:always-auth=true
