.hero {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.hero > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.hero > div:last-child pre:first-child {
    margin: 0 auto;
}

.command {
    color: var(--color-primary);
}

.name {
    margin-bottom: 1rem;
}

.name-mobile {
    margin: 0 auto 1rem;
}

@media (min-width: 550px) {
    .name-mobile {
        display: none;
    }
}

@media (max-width: 550px) {
    .name {
        display: none;
    }

    .img {
        display: none;
    }
}

@media (min-width: 1024px) {

    .hero > div:first-child {
        flex-basis: 55%;
    }

    .hero > div:last-child {
        flex-basis: 45%;
    }
}

@media (max-width: 1024px) {

    .name {
        margin: 1rem auto;
    }

    .hero > div:last-child {
        margin: 0 auto;
    }
}

