---
import Terminal from '../components/terminal';
import BaseLayout from '../layouts/base.astro';
---

<BaseLayout>
	<h1 class='sr-only' aria-label='Terminal Portfolio'>
		Terminal portfolio
	</h1>
	<Terminal client:only="preact" />
</BaseLayout>
