---
import Terminal from '../components/terminal.tsx';
import BaseLayout from '../layouts/base.astro';
---

<BaseLayout>
	<h1
		aria-label='Terminal Portfolio'
		class='sr-only'>
		Terminal portfolio
	</h1>
	<Terminal client:only='preact' />
</BaseLayout>
