---
import { SEO } from "astro-seo";

import AppStyles from '../styles/app.astro'
import FontsStyles from '../styles/fonts.astro'
import ResetStyles from '../styles/reset.astro'
import ScrollbarStyles from '../styles/scrollbar.astro'
---

<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<SEO
		title='MarioMH | Línea de comandos'
		description="Portfolio de MarioMH en línea de comandos."
		openGraph={{
			basic: {
				title: "MarioMH | Línea de comandos",
				type: "website",
				image: "/og/mariomh.png",
			}
		}}
		twitter={{
			creator: "@MarioMH8"
		}}
	/>
	<link rel="sitemap" href="/sitemap-index.xml">

	<meta id='meta-light' name="theme-color" content="#fdfff5" media="(prefers-color-scheme: light)">
	<meta id='meta-dark' name="theme-color" content="#001B16" media="(prefers-color-scheme: dark)">

	<script src="/src/pwa.ts"></script>

	<AppStyles/>
	<FontsStyles/>
	<ResetStyles/>
	<ScrollbarStyles/>
</head>
<body>
<main>
	<slot/>
</main>
</body>
</html>
